._HKx7{display:-ms-flexbox;display:flex;-ms-flex:1 1;flex:1 1;-ms-flex-direction:column;flex-direction:column}

._135Tj{height:300px;width:calc(100%);margin-bottom:0.5rem}@media screen and (min-width: 600px){._135Tj{width:calc(50% - 1rem);margin:0.5rem}}@media screen and (min-width: 1000px){._135Tj{width:calc(25% - 1rem);margin:0.5rem}}

._2m94x{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.G5qVR{margin-top:2rem}._2vwLh{margin:2rem auto}

._1eMly{margin:2rem}._2oM5P{margin:0rem 0rem;margin-bottom:2rem}

