._HKx7{display:-ms-flexbox;display:flex;-ms-flex:1 1;flex:1 1;-ms-flex-direction:column;flex-direction:column}

._2Nk3O{margin-top:8rem;-ms-flex-align:center;align-items:center}.LZOdS{margin:0rem 4rem;width:70%}

