.izfMl{display:-ms-flexbox;display:flex;padding:0.5rem;border-bottom:1px solid #d5d5d5;-ms-flex-pack:justify;justify-content:space-between}._1SAQw{display:-ms-flexbox;display:flex}._151yd{margin:0rem 1rem;width:1px;background-color:#d5d5d5}._1SAQw{margin-right:1rem;cursor:pointer}._1AtfL{cursor:pointer}

